*
{
	padding: 0;
	margin: 0;
	border: 0;
}

/* Layout */
body
{
	width: 1280px;
	height: 720px;
	background-color: #fff;
	background : url("../../images/bg_main.jpg") no-repeat;
	overflow: hidden;
}

#scene_main{
	display: inline-block;
	width: 1280px;
	height: 720px;
}

#header {
	height: 65px;		
}

#header .slogan{
	float: left;
}

#header .appName{
	float: right;
}

#category {
	float: left;
	width: 235px;
	position: absolute;
	top: 87px;
}

#category ul{
    list-style: none;	
}

#category ul li{
	width: 235px;
	height: 50px;
	color: #fff;
	font-size:20px;
	line-height: 50px;
	text-align: center;
}

#category.focus ul li.focus{
	color: #fff;
	background: url("../../images/btn_menu.png") top;	
}

#category.focus ul li.selected{
	color: #c62ad3;
	background: url("../../images/btn_menu.png") bottom;
}

#content{
	float: right;
	position: absolute;
	left: 313px;
	top: 92px;
	width: 900px;
}

#content  > div{
	width: 100%;
	display: none;
}

#content  > div > div.title{
	display: inline-block;
	width: 380px;
	height: 23px;	
}

#content.focus  > div{
	color: red;
}

#content ul {
	list-style: none;
	position: relative;
	top: 35px;
}

#content ul li{
	float: left;
	width: 450px;
}

#content ul li img{
	width: 394px;
	height: 219px;
}

#content.focus ul li.focus img{
	border: 6px solid #c409d2;

}

#content ul li label{
    font-size: 24px;
	
    color: #fff;
    position: relative;
    display: block;
    top: 10px;
}

#content ul li label p{
	font-size: 18px;
	color: #acacac;
}


#scene_info{
	width: 1280px;
	height: 650px;
	background: #242424;
	position: absolute;
	top: 70px;
}

#scene_info img{
	position: relative;
	top: 50px;
	left: 15px;
}

/*고급기능*/
#header .login {
	position: absolute;
	top: 20px;
    left: 750px;
    color: #fff;
}

#header .login #login_form {
    height: 25px;
}

#header .login.focus #login_form{
	border: 6px solid #c409d2;
}

#convergence_help{
    position: absolute;
	top: 23px;
    left: 510px;
    color: #eee;
    display: none; 
}

#player_container {
	position: absolute;
	width: 1280px;
	height: 720px;
	opacity: 0;
 	left: 0;
 	top: 0;
}

#player_container.show {
	opacity: 1;
}
